* {
  font-family: Arial, Verdana, sans-serif;
  color: #225555;
  text-align: center;
  background-image: url('https://media.wsimag.com/attachments/b3b389b4ceb6c68e8219c114aaa64c16b18098e6/store/fill/410/308/66263c2115022cb8ba7ece3567f5de1b9795b3479ef305b2ff3d74eaa1da/Wilbur-the-first-gay-horse.jpg');
  background-size: cover;
}

